server:
  port: 5050

spring:
  application:
    name: ecommerce-api

  datasource:
    url: jdbc:postgresql://localhost:5051/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 5053

  flyway:
    enabled: true
    locations: classpath:db/migration

stripe:
  api-key: ${STRIPE_API_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}

jwt:
  secret: ${JWT_SECRET}
  expiration: 36000000

springdoc:
  swagger-ui:
    path: /swagger-ui.html


