server:
  port: 5050

spring:
  application:
    name: ecommerce-api

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  cache:
    type: redis

  data:
    redis:
      host: redis
      port: 6379

  jwt:
    secret: ${JWT_SECRET}
    expiration: 36000000 # 10 horas em milissegundos

  springdoc:
    swagger-ui:
      path: /swagger-ui.html # http://localhost:5050/swagger-ui.html